<div id="html" markdown="0">
<center>
<table class="styled-table">
    <thead>
        <tr>
            <th>FuseId</th>
            <th>Amperage</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>F01</td>
            <td class="ampthirty">30</td>
            <td>Ignition coils
Interference suppression capacitor</td>
        </tr>
        <tr>
            <td>F02</td>
            <td class="ampthirty">30</td>
            <td>Coolant thermostat<br />
Electric coolant pump<br />
Engine control module (ECM)<br />
Exhaust camshaft sensor<br />
Exhaust VANOS solenoid<br />
Intake camshaft sensor<br />
Intake VANOS sensor<br />
Wastegate valves</td>
        </tr>
        <tr>
            <td>F03</td>
            <td class="amptwenty">20</td>
            <td>Crankshaft sensor<br />
Fuel tank vent valve<br />
Oil condition sensor<br />
Volume control valve</td>
        </tr>
        <tr>
            <td>F04</td>
            <td class="ampthirty">30</td>
            <td>Crankcase breather heaters<br />
Oxygen sensor heaters</td>
        </tr>
        <tr>
            <td>F06</td>
            <td class="ampten">10</td>
            <td>E-box fan<br />
Exhaust flap<br />
Fuel tank leakage diagnostic module</td>
        </tr>
        <tr>
            <td>F07</td>
            <td class="ampbig">40</td>
            <td>Electric coolant pump</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>K6300 </td>
            <td></td>
            <td>DME main relay</td>
        </tr>
        <tr>
            <td>A2076 </td>
            <td></td>
            <td>B+ power</td>
        </tr>
    </tbody>
</table>
</center>
</div>