<div id="html" markdown="0">
<center>
<table class="styled-table">
    <thead>
        <tr>
            <th>FuseId</th>
            <th>Amperage</th>
            <th>Description</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>F1 </td>
            <td class="ampten">10</td>
            <td>Rear wiper and washer</td>
        </tr>
        <tr>
            <td>F2 </td>
            <td class="ampfive">5</td>
            <td>Instrument cluster </td>
        </tr>
        <tr>
            <td>F3 </td>
            <td class="amptwenty">20</td>
            <td>Passenger seat heating</td>
        </tr>
        <tr>
            <td>F4 </td>
            <td class="ampten">10</td>
            <td>Engine control module </td>
        </tr>
        <tr>
            <td>F6</td>
            <td class="ampfive">5</td>
            <td>AUC sensor </td>
        </tr>
        <tr>
            <td>F7</td>
            <td class="amptwenty">20</td>
            <td>
Roof function center (FZD)
<br />
Park distance control (PDC)</td>
        </tr>
        <tr>
            <td>F8</td>
            <td class="amptwenty">20</td>
            <td>Cigar lighters </td>
        </tr>
        <tr>
            <td>F9</td>
            <td class="ampfive">5</td>
            <td>Driver door switch cluster
            <br />
Telephone
             </td>
        </tr>
        <tr>
            <td>F10</td>
            <td class="ampfive">5</td>
            <td>Front seat heating</td>
        </tr>
        <tr>
            <td>F11 </td>
            <td class="amptwenty">20</td>
            <td>
Crankshaft sensor<br />
Engine control module (ECM)<br />
Fuel tank vent valve<br />
Fuel volume control valve<br />
Mass air flow sensor<br />
Oil condition sensor<br />
Variable intake manifold controllers
            </td>
        </tr>
        <tr>
            <td>F12 </td>
            <td class="ampfifteen">15</td>
            <td>Vacuum pump relay</td>
        </tr>
        <tr>
            <td>F13 </td>
            <td class="ampfive">5</td>
            <td>Telephone </td>
        </tr>
        <tr>
            <td>F14 </td>
            <td class="ampten">10</td>
            <td>Radio</td>
        </tr>
        <tr>
            <td>F15 </td>
            <td class="amptwenty">20</td>
            <td>Amplifier</td>
        </tr>
        <tr>
            <td>F16 </td>
            <td class="ampten">10</td>
            <td>
                EAC sensor<br />
E-box fan<br />
Engine control module (ECM)<br />
Radiator shutter control<br />
Secondary air pump relay<br />
            </td>
        </tr>
        <tr>
            <td>F17 </td>
            <td class="ampten">10</td>
            <td>
Engine control module (ECM)<br />
Exhaust flap<br />
Fuel tank leakage diagnostic module<br />
            </td>
        </tr>
        <tr>
            <td>F18 </td>
            <td class="ampten">10</td>
            <td>
Digital tuner<br />
Satellite radio<br />        
            </td>
        </tr>
        <tr>
            <td>F19 </td>
            <td class="ampfive">5</td>
            <td>
CD changer<br />
Convertible: Diversity antenna<br />
            </td>
        </tr>
        <tr>
            <td>F20</td>
            <td class="ampten">10</td>
            <td>Seat control</td>
        </tr>
        <tr>
            <td>F21</td>
            <td class="ampten">10</td>
            <td>Active cruise control</td>
        </tr>
        <tr>
            <td>F22</td>
            <td class="ampfifteen">15</td>
            <td>Automatic transmission control module</td>
        </tr>
        <tr>
            <td>F23</td>
            <td class="amptwenty">20</td>
            <td>Auxiliary heater control</td>
        </tr>
        <tr>
            <td>F24</td>
            <td class="ampfifteen">15</td>
            <td>Towing module</td>
        </tr>
        <tr>
            <td>F25</td>
            <td class="amptwenty">20</td>
            <td>
Convertible top module<br />
Roof control center (FZD)<br />
            </td>
        </tr>
        <tr>
            <td>F26</td>
            <td class="ampfive">5</td>
            <td>Dynamic stability control (DSC)<br />
Transfer case control module</td>
        </tr>
        <tr>
            <td>F27</td>
            <td class="ampfive">5</td>
            <td>iDrive controller<br />
Tire pressure control (RDC)</td>
        </tr>
        <tr>
            <td>F28</td>
            <td class="ampfive">5</td>
            <td>Cooling fan cut-out relay<br />
DC converter</td>
        </tr>
        <tr>
            <td>F29</td>
            <td class="ampfive">5</td>
            <td>Sunroof</td>
        </tr>
        <tr>
            <td>F30</td>
            <td class="ampten">10</td>
            <td>Seat belt positioner controllers</td>
        </tr>
        <tr>
            <td>F31</td>
            <td class="ampthirty">30</td>
            <td>Trailer module</td>
        </tr>
        <tr>
            <td>F32</td>
            <td class="ampthirty">30</td>
            <td>Trailer module</td>
        </tr>
        <tr>
            <td>F33</td>
            <td class="ampbig">40</td>
            <td>Electric coolant pump</td>
        </tr>
        <tr>
            <td>F34</td>
            <td class="ampfive">5</td>
            <td>CD changer </td>
        </tr>
        <tr>
            <td>F35</td>
            <td class="ampthirty">30</td>
            <td>DSC</td>
        </tr>
        <tr>
            <td>F36</td>
            <td class="ampbig">40</td>
            <td>Car access system </td>
        </tr>
        <tr>
            <td>F37</td>
            <td class="ampthirty">30</td>
            <td>Camshaft sensors<br />
Coolant thermostat<br />
ECM<br />
Electric coolant pump<br />
VANOS valves<br />
Waste gate valves</td>
        </tr>
        <tr>
            <td>F38</td>
            <td class="ampthirty">30</td>
            <td>Crankcase breather heating<br />
Engine control module (ECM)<br />
Oxygen sensor heating</td>
        </tr>
        <tr>
            <td>F39</td>
            <td class="ampthirty">30</td>
            <td>Fuel injectors<br />
Ignition coils<br />
Ignition coil interference suppression capacitor</td>
        </tr>
        <tr>
            <td>F40</td>
            <td class="ampthirty">30</td>
            <td>Transfer case control</td>
        </tr>
        <tr>
            <td>F41</td>
            <td class="ampthirty">30</td>
            <td>Footwell module </td>
        </tr>
        <tr>
            <td>F42</td>
            <td class="ampbig">40</td>
            <td>Footwell module</td>
        </tr>
        <tr>
            <td>F43</td>
            <td class="ampthirty">30</td>
            <td>Headlight washer pump</td>
        </tr>
        <tr>
            <td>F44</td>
            <td class="ampthirty">30</td>
            <td>Trailer module</td>
        </tr>
        <tr>
            <td>F45</td>
            <td class="ampthirty">30</td>
            <td>Passenger seat module</td>
        </tr>
        <tr>
            <td>F46</td>
            <td class="ampthirty">30</td>
            <td>Driver seat module</td>
        </tr>
        <tr>
            <td>F47</td>
            <td class="ampthirty">30</td>
            <td>Rear window defogger</td>
        </tr>
        <tr>
            <td>F48</td>
            <td class="ampthirty">30</td>
            <td>Headlight washer</td>
        </tr>
        <tr>
            <td>F49</td>
            <td class="ampbig">40</td>
            <td>Passenger seat module</td>
        </tr>
        <tr>
            <td>F50</td>
            <td class="ampthirty">30</td>
            <td>Wiper control</td>
        </tr>
        <tr>
            <td>F51</td>
            <td class="ampbig">40</td>
            <td>Car access system</td>
        </tr>
        <tr>
            <td>F53</td>
            <td class="ampten">10</td>
            <td>Anti-theft alarm siren, tilt sensor<br />
Convertible:Door microwave sensors</td>
        </tr>
        <tr>
            <td>F54</td>
            <td class="ampfive">7.5</td>
            <td>Anti-theft alarm siren, tilt sensor </td>
        </tr>
        <tr>
            <td>F55</td>
            <td class="ampfive">5</td>
            <td>Car access system </td>
        </tr>
        <tr>
            <td>F56</td>
            <td class="amptwenty">20</td>
            <td>CCC</td>
        </tr>
        <tr>
            <td>F57</td>
            <td class="ampfifteen">15</td>
            <td>Horns</td>
        </tr>
        <tr>
            <td>F58</td>
            <td class="ampfive">5</td>
            <td>instrument cluster<br />
OBD II socket</td>
        </tr>
        <tr>
            <td>F59</td>
            <td class="ampfive">5</td>
            <td>Telephone</td>
        </tr>
        <tr>
            <td>F60</td>
            <td class="ampfive">5</td>
            <td>Central information display</td>
        </tr>
        <tr>
            <td>F61</td>
            <td class="ampfive">5</td>
            <td>Comfort access control module<br />
Dual remote control receiver<br />
Front door handle control module</td>
        </tr>
            <tr>
            <td>F62</t2>
            <td class="ampfive">7.5</td>
            <td>Roof function control center (FZD)</td>
        </tr>
        <tr>
            <td>F63</td>
            <td class="ampfive">5</td>
            <td>Diversity antenna<br />
Electrochromic rear-view mirror<br />
Selector lever illumination</td>
        </tr>
        <tr>
            <td>F64</td>
            <td class="ampfive">5</td>
            <td>OBD II plug</td>
        </tr>
        <tr>
            <td>F65</td>
            <td class="ampten">10</td>
            <td>Selector lever illumination<br />
Longitudinal dynamics management</td>
        </tr>
        <tr>
            <td>F66</td>
            <td class="ampfive">7.5</td>
            <td>Driver door switch cluster<br />
Passenger outside mirror</td>
        </tr>
        <tr>
            <td>F67</td>
            <td class="amptwenty">20</td>
            <td>DSC</td>
        </tr>
        <tr>
            <td>F68</td>
            <td class="amptwenty">20</td>
            <td>Driver seat heating module</td>
        </tr>
        <tr>
            <td>F70</td>
            <td class="amptwenty">20</td>
            <td>Fuel pump </td>
        </tr>
        <tr>
            <td>F71</td>
            <td class="amptwenty">20</td>
            <td>Trailer module</td>
        </tr>
        <tr>
            <td>F72</td>
            <td class="ampfifteen">15</td>
            <td>Central locking</td>
        </tr>
        <tr>
            <td>F73</td>
            <td class="ampfifteen">15</td>
            <td>Central locking</td>
        </tr>
        <tr>
            <td>F74</td>
            <td class="ampfive">5</td>
            <td>Instrument cluster</td>
        </tr>
        <tr>
            <td>F75</td>
            <td class="ampfive">5</td>
            <td>Passenger seat module</td>
        </tr>
        <tr>
            <td>F76</td>
            <td class="ampfive">5</td>
            <td>Radio</td>
        </tr>
        <tr>
            <td>F77</td>
            <td class="ampten">10</td>
            <td>Glove compartment light<br />
Heating and air-conditioning<br />
Trunk or cargo compartment light</td>
        </tr>
        <tr>
            <td>F78</td>
            <td class="ampthirty">30</td>
            <td>Window control</td>
        </tr>
        <tr>
            <td>F79</td>
            <td class="ampthirty">30</td>
            <td>Wiper control</td>
        </tr>
        <tr>
            <td>F80</td>
            <td class="ampthirty">30</td>
            <td>Window control</td>
        </tr>
        <tr>
            <td>F81</td>
            <td class="ampthirty">30</td>
            <td>Footwell module</td>
        </tr>
        <tr>
            <td>F82</td>
            <td class="ampthirty">30</td>
            <td>DSC control module</td>
        </tr>
        <tr>
            <td>F83</td>
            <td class="ampbig">40</td>
            <td>Footwell module</td>
        </tr>
        <tr>
            <td>F84</td>
            <td class="ampbig">40</td>
            <td>Footwell module</td>
        </tr>
        <tr>
            <td>F85</td>
            <td class="ampthirty">30</td>
            <td>Car access system </td>
        </tr>
        <tr>
            <td>F86</td>
            <td class="ampbig">40</td>
            <td>Footwell module</td>
        </tr>
        <tr>
            <td>F88</td>
            <td class="ampbig">40</td>
            <td>Blower</td>
        </tr>
        <tr>
            <td>F89</td>
            <td class="ampbig">40</td>
            <td>Secondary air pump relay</td>
        </tr>
        <tr>
            <td>F90</td>
            <td class="ampbig">40</td>
            <td>DSC control module</td>
        </tr>
        <tr>
            <td>F92</td>
            <td class="ampbig">50</td>
            <td>400 watt engine cooling fan</td>
        </tr>
        <tr>
            <td>F92</td>
            <td class="ampbig">60</td>
            <td>600 watt engine cooling fan</td>
        </tr>
        <tr>
            <td></td>
            <td class="ampbig"></td>
            <td></td>
        </tr>
        <tr>
            <td>I01068 </td>
            <td class="ampbig"></td>
            <td>Relay</td>
        </tr>
        <tr>
            <td>K36 </td>
            <td class="ampbig"></td>
            <td>Wiper relay 1</td>
        </tr>
        <tr>
            <td>K37</td>
            <td class="ampbig"></td>
            <td>Wiper relay 2</td>
        </tr>
    </tbody>
</table>

</center>
</div>